@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary-color: #1983ad;
  --secondary-color: #422299;
  --dark-color: #0c0c0c;
  --main-font: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {

  h1 {
    font-size: 1.5em;
    font-family: var(--main-font);
    font-weight: 700;
  }

  h2 {
    font-family: var(--main-font);
    font-weight: 600;
  }

  h4 {
    color: #8f8383;
    font-weight: 400;
  }

  span {
    font-size: 1.25em;
  }

  #title {
    font-size: 2.5em;
  }

  p {
    font-size: 1rem;
    font-family: var(--main-font);
  }
}
